header{
    background-image: linear-gradient(#c6c6c6, white);
    width: 100%;
   
}

.caixa{
    width:80%;
    margin: 0 auto;
    padding-left:10%;
    display: inline-flex;
    text-decoration: none;
    
}
.caixa img:hover{
    transform: scale(1.1);
    transition-duration: 200ms;
   
}
.caixa a{
   text-decoration: none;
}
.titulo{
    padding-top: 90px;
    font-size: 60px;
    text-decoration: none;
    color: black;
    
    
    
}
  

.titulo:hover{
    transform: scale(1.1);
    transition-duration: 200ms;
    
    
    
    
}
h1 {
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     
}
p {
    text-align:center;
}

nav {
    position: absolute; 
    top: 110px;
    right:15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
    
  
}
nav li  {
    display:inline-flex;
    margin-left: 15px;
   
  
   

}
nav a{
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    font-weight: bold;
  
   

}
nav li a:hover{
    font-size: 24px;
    text-decoration: none;
    color:rgb(9, 0, 139);
    transition-duration: 200ms;
    border-color:rgb(9, 0, 139);
   
  
   

}
main {
    width: 100%;
    margin:0 auto;
    }
form{
    margin:10% 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}    
form input{
    display: block;
    font-size: 20px;
    margin: 0 0 1%;
    padding:10px 25px;
    width: 70%;
    
}
form label{
    font-size: 20px;
   
}
descricao{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
descricao h2{
    font-size: 50px;
    padding: 80px 0px;
}
descricao p {
    font-size: 30px;
    text-align: justify;
    width: 70%;
    margin: auto;
    padding-bottom: 15px;
  
}
.navalha {
    width: 33%;
    text-align: center;
    margin: 0 33%;
   
}

.produtos {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 2% 2%;
    
}
.produtos li {
    display:inline-block;
    width: 28%;
    vertical-align: top;
    margin:0 2%;
    padding: 1% 1%;
    box-sizing: border-box;
    border:2px solid #000;
    border-radius: 2%;
    max-width: 280px;
}


.produtos a {
    text-decoration: none;
    color:#000;

    
  

}
.produtos li:hover {
    text-decoration: none;
    color:rgb(9, 0, 139);
    transform: scale(1.1);
    transition-duration: 200ms;
    border-color:rgb(241, 179, 45);
  

}
.produtos h2{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2%;
}
.produto-descricao{
    font-size: 18px;
    margin: 2% 0;
    
}
.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 2%;

} 

footer{
    background-image: linear-gradient(white, rgb(43, 43, 43));
    text-align: center;
    background-color: rgb(43, 43, 43);
    padding-top:10%;
    padding-bottom:5%;
  

}

.copyright{
    color:#fff;
}

banner img{
    width: 100%;
}